.hidden {
    display: none;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    height: 100vh;
}

.left {
    position: relative;
    text-align: center;
    height: fit-content;
    top: 35%;
}

.right {
    position: relative;
    text-align: center;
    height: fit-content;
    top: 20%;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#greeting {
    font-size: 4.5vmin;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 20px;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 9vmax;
    margin: 0px;
}

#quote span {
    transition: all 0.5s;
}

#quote:hover span:first-child {
    transform: translateY(0);
}

#quote span:first-child {
    font-size: 3vmin;
    font-style: italic;
    transform: translateY(50%);
}

#quote:hover span:last-child {
    transform: translateY(0);
    opacity: 0.8;
}

#quote span:first-child::before {content: '\201C';}
#quote span:first-child::after {content: '\201D';} 

#quote span:last-child {
    display:block;
    font-size: 2vmin;
    transform: translateY(-50%);
    opacity: 0;
} 

#quote span:last-child::after {content:"✏️";}


#weather {
    position:absolute;
    top: 2vh;
    left: 2vh;
}

#weather span:last-child {display:block;} 


#login-form input {
    width: 25vh;
    height: 4vh;
}

#login {
    /*display:inline-block; hidden클래스가 정상적으로 추가되는데 요소가 감춰지지 않았음 
    -> id에 display설정이 우선되어 적용되지 않았던 것, div에 display 설정하였더니 정상작동*/
    width: 50vh;
    height: 6vh;
    padding: 1vh;
    background-color: rgb(236 224 224 / 30%);
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

div {
    display: inline-block;
}

#login input[type=text] {
    transition: all 0.5s;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid transparent;
}

#login input[type=text]:focus {
    outline: none;
    border-bottom: 1px solid white;
    caret-color: white;
}

#login input::placeholder {
    color: white;
    font-style: italic;
    font-size: 2.5vh;
    text-align:justify;
  }

#login input[type="text"] {
    color: white;
    font-style: italic;
    font-size: 2.5vh;
    text-align:justify;
  }

#login button {
    border-radius: 10px;
    height: 4vh;
    width: 7vh;
    border: none;
    background-color: white;
}