.hidden {
    display: none;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    height: 100vh;
}

.left {
    position: relative;
    text-align: center;
    height: fit-content;
    top: 35%;
}

.right {
    position: relative;
    text-align: center;
    height: fit-content;
    top: 20%;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#greeting {
    font-size: 4.5vmin;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 20px;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 9vmax;
    margin: 0px;
}

#quote span {
    transition: all 0.5s;
}

#quote:hover span:first-child {
    transform: translateY(0);
}

#quote span:first-child {
    font-size: 3vmin;
    font-style: italic;
    transform: translateY(50%);
}

#quote:hover span:last-child {
    transform: translateY(0);
    opacity: 0.8;
}

#quote span:first-child::before {content: '\201C';}
#quote span:first-child::after {content: '\201D';} 

#quote span:last-child {
    display:block;
    font-size: 2vmin;
    transform: translateY(-50%);
    opacity: 0;
} 

#quote span:last-child::after {content:"✏️";}


#weather {
    position:absolute;
    top: 2vh;
    left: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#weather span:nth-child(1) {
    font-size: 4vh;
}


#weather span:nth-child(1), #weather span:nth-child(2) {
    display: table-cell;
}

#weather span:nth-child(2) {
    background-image: url(../img/clouds.png);
    color: transparent;
    width: 5vmin;
    background-size: auto 3vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    bottom: -0.6vh;
}


#login-form input {
    width: 25vh;
    height: 4vh;
}

#login {
    /*display:inline-block; hidden클래스가 정상적으로 추가되는데 요소가 감춰지지 않았음 
    -> id에 display설정이 우선되어 적용되지 않았던 것, div에 display 설정하였더니 정상작동*/
    width: 50vh;
    height: 6vh;
    padding: 1vh;
    background-color: rgb(236 224 224 / 30%);
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

div {
    display: inline-block;
}

#login input[type=text] {
    transition: all 0.5s;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid transparent;
}

#login input[type=text]:focus {
    outline: none;
    border-bottom: 1px solid white;
    caret-color: white;
}

#login input::placeholder {
    color: white;
    font-style: italic;
    font-size: 2.5vh;
  }

#login input[type="text"] {
    color: white;
    font-style: italic;
    font-size: 2.5vh;
  }

#login button {
    border-radius: 10px;
    height: 4vh;
    width: 7vh;
    margin-left: 10px;
    border: none;
    background-color: white;
    color: rgb(153, 153, 153);
}

#todo-form {
    width: 40vh;
    height: 5vh;
    padding: 1vh;
    background-color: rgb(236 224 224 / 30%);
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

#todo-form input {
    border: none;
    background-color: transparent;
    width: 30vh;
    top: 2px;
    position: relative;
}

#todo-form input[type=text]:focus {
    outline: none;
    border-bottom: 1px solid white;
    caret-color: white;
}

#todo-form input::placeholder {
    color: white;
    font-style: italic;
    font-size: 2vh;
}

#todo-form input[type="text"] {
    color: white;
    font-style: italic;
    font-size: 2vh;
}

#todo-list {
    margin-top: 2vh;
}

li {
    padding: 0.5vh;
    list-style-type: none;
}

.todo {
    text-align: left;
}

.btn-check {
    border: none;
    background-color: transparent;
    position: relative;
    top: 3.5px;
}

.btn-check::before {
    content: "\1F90D";
    font-size: 25px;
    padding-right: 10px;
}

.checked .btn-check::after {
    content: "\1F497";
    font-size: 25px;
    padding-right: 10px;
    position: absolute;
    left: 0px;
}

.checked span {position: relative;}
.checked span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -5%;
    border-top: solid 2px rgb(228, 98, 98);
    width: 110%;
}


.btn-delete {
    border: none;
    background-color: transparent;
    position: relative;
    font-size: 20px;
    color: transparent;
    padding-left: 8px;
}

li:hover .btn-delete {
    border: none;
    background-color: transparent;
    position: relative;
    font-size: 20px;
    color: rgb(228, 98, 98);
    padding-left: 8px;
    transition: all 1s;
}


#logout {
    position: absolute;
    right: 2vh;
    bottom: 2vh;
    border: none;
    background-color: transparent;
    color: white;
    opacity: 60%;
    font-size: 16px;
}

#logout:hover {
    transition: all 0.5s;
    opacity: 100%;
}